<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfIM5tbUvC5xLM8aszHdtY7-Z-V0b775c</string>
	<key>GCM_SENDER_ID</key>
	<string>874072299522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoping</string>
	<key>PROJECT_ID</key>
	<string>easyshopping-d37d3</string>
	<key>STORAGE_BUCKET</key>
	<string>easyshopping-d37d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874072299522:ios:8fb2f34b9e220ad3876f1b</string>
</dict>
</plist>